<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Usuários</li>
  </ol>
</nav>

<h1>Usuários</h1>
<p>Estes são os usuários cadastrados.</p>

<main>
  <section class="py-2 text-center container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto container_box">
        <div id="tabelaUsuarios">
          {{#if usuarios}}
          <table class="table striped align-middle table-responsive">
            <thead>
              <tr>
                <th>Nome completo</th>
                <th>E-mail</th>
                <th>Tipo</th>
                <th>Criado em</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              {{#each usuarios}}
              <tr>
                <td>{{nome}}</td>
                <td>{{email}}</td>
                <td><span class="dash-status">{{tipo}}</span></td>
                <td>{{formatDate criadoEm 'DD/MM/yyyy'}}</td>

                <td class="flex-buttons">
                  <a href="/usuarios/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                  </a>
                  <form action="/usuarios/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                      <i class="fas fa-trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{else}}
          <p>Não há usuários cadastrados.</p>
          {{/if}}
        </div>
        <div>
          <button class="btn btn-primary btn-sm my-2 filter-button" id="exportar">Exportar dados</button>
        </div>
      </div>
    </div>
  </section>
</main>

<a href="/usuarios/add" class="add-btn-float">
  <i class="fa fa-plus fbtn-float"></i>
</a>

<script>
  window.onload = function () {
    $("#exportar").click(function (e) {
      const a = document.createElement('a');
      const dataType = 'data:application/vnd.ms-excel';
      const tableDiv = document.getElementById('tabelaUsuarios');
      const tableHTML = tableDiv.outerHTML.replace(/ /g, '%20');
      a.href = dataType + ', ' + tableHTML;
      a.download = 'usuarios.xls';
      a.click();
      e.preventDefault();
    });
  }
</script>